.editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editor > .code {
    margin: 5px;
    width: 45%;    
    height: 100%;
    min-height: max(25vh, 100%);
    border: black solid;
}

.editor > .render {
    margin: auto;
    width: 45%;    
    height: 100%;
    min-height: max(25vh, 100%);
    border: black solid;
    text-align: center;
}

.editor > .render > .pdf {
    border: red solid;
}

.editor > .render > .paging {
    margin: auto;
    border: red solid;
}